:root {
  
    --color-green: #197F5B;
    --color-orange: #EF9919;
    --color-white: #F9F5F2;
    --color-white2: #F0EBE3;

    --color-grey:  #898AA6;
    


}

*{  box-sizing: border-box;
    padding: 0;
    margin:0;}

    

body {margin: auto;



        }
    

    main{ 
        margin:auto;

        max-width: 600px;
    }

header{

    background-color: var(--color-green);

    color: #F9F5F2;

    font-size: 1rem; 
}


nav ul{
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
gap: 0.2rem;
list-style: none;
padding-right: 0.5rem;


}

nav ul li {

    border-right: solid white 2px;
}

section{ 
    position: relative;
}


.Profile_section  {
    
    text-align: center;

    display: grid;
    grid-template-columns: 1fr ;

    height: 67vh;
    background-color: var(--color-green);
    background-size: 500px 600px;
    max-width: 600px;
    max-height: 800px;
   
    
}

.Profile_section .Profile {
    
   
    
    max-height: 100%;
    
    position: relative;
    


}

.Profile_section .Profile  .img_profile{
    
    max-width: 40vw;
    max-height: 40vh;
    
   
   
    


}


.Profile_section .Profile .linkedin{

    height: 10%;
    width: 10%;
    position: absolute;
    left: 160px;
    top:180px;
   


}

.Profile_section .Profile .img_instagram {

    height: 10%;
    width: 10%;
    position: absolute;
    right: 270px;
    top: 230px
   


}




main .input .input_2 {
    display: grid;
    grid-template-columns: 1fr;
   
    text-align: center;
   
    background-color: var(--color-white2);
    height: 20vh;



}

main .input .input_2 h2{

    margin-top: 2rem;

}


main .input  .button_1 .input_3{


    width: 20rem;
    height: 70%;

    border-radius: 1rem;
}


main .input  .button_1 .button_2{

 width: 5rem;
 height: 70%;
 border-radius: 1rem;
 background-color: var(--color-green);
 color:#fff;
 font-size: 1.5rem;
 font-weight: bolder;

    
}


main .About_me h2{
    margin-top: 2rem;

    margin-bottom: 1rem;
}

main .About_me .caja1 {
   
     border-left: solid #197F5B 10px;
     padding-left: 15px;
     margin-bottom: 1rem;


}

main .About_me .caja2 {
     
    text-align: center;
    height: 10vh;

    font-size: 3rem;



}


main .About_me .caja2  button {

    border-radius: 1rem;
    height: 40%;
    width: 40%;
    background-color: var(--color-green);
    color: #fff
    

}


.Studies {

text-align: center;

height: 30vh;

}

main .Studies {

    margin-top: 2rem;
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 2rem;
    

    


}

main .Studies .Monterrey{

    padding-top: 1rem;
  
  background-color: var(--color-white2);
  border-radius: 2rem;

  
 
  

}

main .Studies .Monterrey h2{

    margin-bottom: 2rem;


}


main .Studies .Academlo{

    
    grid-template-rows: 1fr;

    background-color: var(--color-white2);
    border-radius: 2rem;
    
    
    
    
 
    
  }


  main .Studies .Academlo h2 {

    margin-bottom: 0.5rem;

  }



main .Habilidades h2{

padding-top: 5rem;
text-align: center;
color: black;
font-weight: bold;
font-size: 2rem;

}

main .Habilidades  .Especificaciones {

    font-size: 1.5rem;
        
    Display:flex;
    flex-direction: column;
    justify-content: center;
  
    gap: 1rem;
    height: 50vh;
    max-width: 100vh;
    margin: auto;}


main .Habilidades  .Especificaciones :nth-child(1) .web_design{


  
    box-sizing: border-box; 

    border: 5px solid gray;

    border-radius: 1rem;
    height: 2vh;
    max-width: 100%;

}


main .Habilidades  .Especificaciones :nth-child(2) .interaction_design {

    box-sizing: border-box; 

    border: 5px solid gray;

    border-radius: 1rem;
    height: 2vh;
    max-width: 100%;}

main .Habilidades  .Especificaciones :nth-child(3) .UX{

    box-sizing: border-box; 

    border: 5px solid gray;

    border-radius: 1rem;
    height: 2vh;
    max-width: 100%;}

main .Habilidades  .Especificaciones :nth-child(4) .Frameworks{

    box-sizing: border-box; 

    border: 5px solid gray;

    border-radius: 1rem;
    height: 2vh;
    max-width: 100%;;
   }


main .Habilidades  .Especificaciones :nth-child(1) .porcentaje1{

    font-size: 1rem;
    text-align: end;
    }


main .Habilidades  .Especificaciones :nth-child(2) .porcentaje2{

    font-size: 1rem;
    text-align: end;
   }

main .Habilidades  .Especificaciones :nth-child(3) .porcentaje_3{

    font-size: 1rem;
    text-align: end;
    }

main .Habilidades  .Especificaciones  :nth-child(4) .porcentaje_4{

    font-size: 1rem;
    text-align: end;
    
   }

   main .Habilidades  .Especificaciones :nth-child(1) .web_design .progress_1 {

    background-color: var(--color-green) ;

    width: 80%;
    height: 100%;

   }

   main .Habilidades  .Especificaciones :nth-child(2) .interaction_design .progress_2 {

    background-color: var(--color-green);

    width: 80%;
    height: 100%;

   }

   main .Habilidades  .Especificaciones :nth-child(3) .UX .progress_3 {

    background-color: var(--color-green);

    width: 70%;
    height: 100%;

   }

   main .Habilidades  .Especificaciones :nth-child(4) .Frameworks .progress_4 {

    background-color: var(--color-green);

    width: 70%;
    height: 100%;

   }


   main .Habilidades  .Especificaciones :nth-child(1) p {

   text-align: start;

   }

   main .Habilidades  .Especificaciones :nth-child(2) p {

    text-align: start;
 
    }

    main .Habilidades  .Especificaciones :nth-child(3) p {

        text-align: start;
     
        }
 main .Habilidades  .Especificaciones :nth-child(4) p {

            text-align: start;
         
            }





main .Experiencia .caja_experiencia h2 {


    font-size: 2rem;
    
    margin-bottom: 2rem;
    text-align: center;

 


}


main .Experiencia .caja_experiencia  {


    background-color: var(--color-white2);
    display: grid;
    grid-template-columns: 1fr;

    max-height: 50vh;
   

}


main .Experiencia .caja_experiencia .caja_experiencia_imagenes{

 display: block;
 display: flex;

 flex-direction: row;
 justify-content: center;

 flex-wrap: wrap;

 gap:4rem

}

main .Portafolio h2{

    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

main .Portafolio {

    margin-top: 10rem;


    background-color: var(--color-white2);

    height: 150vh;
    width: auto;
}

main .Portafolio .Titles{

display: grid;
grid-template-columns: 1fr 1fr;

}

main .Portafolio .Titles .hola_ux{

    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--color-grey)
    }



main .Portafolio  .UX_design .main_image {


    height: 50vh;

    width: 40vw;
}
main .Portafolio  .UX_design .main_image .img_tools{
max-width: 60vw;
 height: 40vh;
 padding: 1rem;
 
 

}

main .Portafolio  .UX_design .Project_mobile{

    height: 50vh;

    width: 20vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; 

    padding: 1rem;
    
   
   }


   main .Portafolio  .UX_design .Project_mobile .img_59{

    max-width: 30vw;
   height: 30vh;

   }

   main .Portafolio  .UX_design .Project_mobile .img_60{

    max-width: 30vw;
   height: 30vh;
    
    }
 
    main .Portafolio .webdesign {
     
    height: 50vh;
    max-width: 50vw;
    padding: 1rem;


    }

    main .Portafolio .webdesign .web_image{


        height: 30vh;
        max-width: 50vw;

    }











main .contacto h2{

text-align: center;
padding: 2rem;
font-size: 5rem;


}
     

main .contacto .caja_micontacto {

display: grid;

grid-template-columns: 1fr 1fr ;

gap:4rem;

text-align:center; 
max-width:100vh;
padding: 1rem;

height: 20vh;

font-size: 1rem;
font-weight: bold;
margin-bottom: 5rem;



}


main .contacto .caja_micontacto .email .caja1_email{
    background-color: var(--color-white2);
   
    border-radius: 100%;
    height: 20vh;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    


    
}

main .contacto .caja_micontacto .telefono .caja1_telefono {

    background-color: var(--color-white2);
    
    border-radius: 100%;
    height: 20vh;
    max-width:  20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

}


main .contacto .caja_micontacto .telefono .caja1_telefono  .img_telefono{


    height: 10vh;
    max-width: 10vw;
    
  }



 

main .contacto .caja_micontacto .email .caja1_email .img_mail{


    height: 10vh;
    max-width: 10vw;


}
 

main .contacto .caja_micontacto .email  .titulo_email {
    margin-top: 1rem;
    text-align: center;
    max-width: 20vw;


 

}

main .contacto .caja_micontacto .telefono .titulo_telefono {
    margin-top: 1rem;
    text-align: center;
    max-width: 20vw;


 

}



main footer{
    margin-top: 2rem;
    text-align: center;

    font-size: 2rem;

    color:var(--color-white);


    background-color: var(--color-green);

    max-height: 20vh;

    width: 100%;}


main footer h2{

padding-top:1rem


}



